@use '../base/mixin' as *; 
@use '../base/color' as *; 

.layer-wrap {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0);
        transition: background-color .2s;
    }
    &.is-active {
        right: 0;
        bottom: 0;
        z-index: 10;
        height: auto;
        &::before{
            background-color: rgba(0, 0, 0, 0.7);
        }
    }
    .layer {
        display: none;
        position: relative;
        width: calc(100% - rem(40px));
        border-radius: rem(8px);
        background-color: #fff;
        transition: top .2s .1s;
        &.is-active {
            display: block;
        }
        >.tit {
            display: flex;
            align-items: center;
            padding: rem(20px) rem(45px) rem(14px) rem(14px);
            font-size: rem(24px);
            font-weight: 500;
            line-height: 1.4;
            word-break: keep-all;
        }
        .layer-cont {
            padding: 0px rem(16px) rem(24px);
            dl{
                border-top: 1px solid $colorddd;
                padding-top: rem(10px);
                word-break: keep-all;
                dt{
                    font-size: rem(16px);
                    font-weight: 500;
                    line-height: 1.4;
                    &+dd{
                        margin-top: rem(10px);
                        line-height: 1.3;
                    }
                }
                dd{
                    &::before{
                        content: '- ';
                    }
                    text-indent: rem(-6px);
                    padding-left: rem(8px);
                    font-size: rem(14px);
                    color:$color353535; 
                    line-height: 1.6;
                    &+dd{
                        margin-top: rem(4px);
                    }
                }
                &+dl{
                    margin-top: rem(10px);
                }
            }
            .btn-box{
                margin-top: rem(20px);
            }
        }
    }
    .btn-layer-close {
        position: absolute;
        right: rem(20px);
        top: rem(27px);
        @include btn-close(16px, 2px, #000)
    }
}


@include pc{
    .layer-wrap {
        .layer{
            width: 600px;
            .layer-cont {
                dl{
                    dt{
                        font-size: rem(20px);
                        &+dd{
                            margin-top: rem(14px);
                            line-height: 1.3;
                        }
                    }
                    dd{
                        font-size: rem(16px);
                        &+dd{
                            margin-top: rem(8px);
                        }
                    }
                    &+dl{
                        margin-top: rem(14px);
                    }
                }
                .btn-box{
                    margin-top: rem(30px);
                }
            }
        }
    }
}